main {
    color: black;
    height: 70vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.main--container {
    background-color: cadetblue;
    height: 300px;
    width: auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 0.5rem 10rem;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 1rem;
}