main {
    color: black;
    height: 70vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.main--container {
    background-color: cadetblue;
    height: 300px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column; /* necessário para alinhar o conteúdo verticalmente */
    align-items: center;
    justify-content: flex-start; /* o conteúdo começa no topo */
    overflow-y: auto; /* ativa a barra de rolagem vertical */
    padding: 0.5rem 10rem;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 1rem;
}