main {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    margin-bottom: 0;
}

.main--container {
    background-color: cadetblue;
    height: 100%;
    max-width: 100%;
    margin: 1.5rem 0;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__desc {
    margin: 0.8rem 5rem;
    color: white;
    font-weight: 700;
}

.carousel {
  background-color: #000;
  width: 80%;
  max-width: 100%;
  height: 25rem;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s infinite ease-in-out;
  width: 300%;
  height: 100%;
}

.carousel-track img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
  flex-shrink: 0;
}

/* @keyframes slide {
  0%, 25% { transform: translateX(0); }
  33.33%, 58.33% { transform: translateX(-100%); }
  66.66%, 91.66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
} */