.main--container {
    background-color: cadetblue;
    height: 300px;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}